body{
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.userCard{
  width: 300px;
  height: 500px;
  background-color: white;
  margin-top: 25px;
  overflow: hidden;
  border: 2px solid darkgray;
  border-radius: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}